{% extends "layout.html" %}

{% block head %} 
    {% if perms.booking.add_place %}
        <title>Manage Activity</title>
    {% else %}
        <title>Activity</title>
    {% endif %}

    <style>
        #activity:hover {
            background-color: #e8e8e8;
        }
    </style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
{% endblock %}

{% block content %}

   <div class='pt-16'>
        <div class=" flex flex-col text-center text-5xl font-semibold justify-center bg-cover bg-center h-80 w-full text-gray-200" style="background-image: url('{{act.photo.url}}');">
            <p class='bg-gray-900 py-2'>
                {{act}}
            </p>
        </div>
        

        <div class='px-80 py-20'>
            <div class='flex justify-between items-center mb-10 px-14'>
                <p class='text-2xl font-semibold  '>Stadium</p>
                {% if perms.booking.add_place %}
                    <a href="{% url 'addplace' act.id  %}"><button class="m-4 w-[50px] rounded-md border border-green-400 py-1 items-center text-[13px] transition-all shadow-sm hover:shadow-lg  hover:text-white hover:bg-green-500 hover:border-green-400 focus:text-white focus:bg-green-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none text-gray-500"><i class="fa-solid fa-plus"></i></button></a>
                {% endif %}
            </div>
            <div class='grid grid-cols-3 gap-x-20 gap-y-3'>
                
                {% for i in place%}
                    {% if perms.booking.change_place %}
                        <a href='{% url "editplace" i.id %}' >
                            <div id="activity" class="w-[300px] p-5 flex flex-col shadow-md  ">
                                <img class = "rounded-md" style="width: 400px; height: 170px;" src="{{i.photo.url}}" alt="">
                                <p class="text-base text-gray-900 mb-2 mt-8 font-bold">{{i.name}}</p>
                                <p class="text-sm text-gray-500 mb-2 ">Location : {{i.location}}</p>
                                <p class="text-sm text-gray-500 mb-2 ">Deception : {{ i.description|slice:":30"|truncatewords:3 }}</p>
                                <hr class="my-4">
                                <p class="text-sm mb-2 text-[#24679d]">
                                    Manage by 
                                    {% if i.staff %}
                                        <span style="color: black;">: {{ i.staff.first }}</span>
                                    {% else %}
                                        <span style="color: black;">: ไม่มีพนักงานดูแล</span>
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    {% else %}
                        <a href='{% url "place" i.id %}' >
                            <div id="activity" class="w-[300px] p-5 flex flex-col shadow-md  ">
                                <img class = "rounded-md" style="width: 400px; height: 170px;" src="{{i.photo.url}}" alt="">
                                <p class="text-base text-gray-900 mb-2 mt-8 font-bold">{{i.name}}</p>
                                <p class="text-sm text-gray-500 mb-2 ">Location : {{i.location}}</p>
                                <p class="text-sm text-gray-500 mb-2 ">Deception : {{ i.description|slice:":30"|truncatewords:3 }}</p>
                                <hr class="my-4">
                                <p class="text-sm mb-2 text-[#24679d]">
                                    Manage by 
                                    {% if i.staff %}
                                        <span style="color: black;">: {{ i.staff.first }}</span>
                                    {% else %}
                                        <span style="color: black;">: ไม่มีพนักงานดูแล</span>
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}

                
            </div>
    </div>
   </div>
{% endblock %}