<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>activity</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <style>
        #activity:hover {
            background-color:#defffd  ;
        }
    </style>
</head>
<body >
   <div class='px-80 py-20'>
        <p class='text-3xl font-bold mb-16 text-right ' >FOOTBALL</p>
        <p class="text-2xl font-bold mb-5" >Studium</p>
            <div class='grid grid-cols-3 gap-x-8 gap-y-3'>
               
                {% for i in place%}
                <a href='{% url "placebooking" i.id %}'>
                    <div id="activity" class="px-10 py-10 flex flex-col shadow-md rounded-lg">
                        <img class = "rounded-xl" style="width: 400px; height: 170px;" src="https://sport.teenee.com/manu/img6/263787.jpg" alt="">
                        <p class="text-lg text-gray-900 mb-2 mt-4 font-bold">{{i.name}}</p>
                        <p class="text-sm text-gray-500 mb-2 ">Location : {{i.location}}</p>
                        <p class="text-sm text-gray-500 mb-2 ">Deception : {{ i.description|truncatewords:3 }}</p>
                        <hr class="my-4">
                        <p class="text-sm text-amber-500 mb-2 text-purple-600">Manage by : <span style="color: black;">{{i.staff}}</span> </p>
                    </div>
                </a>
                {% endfor %}

            </div>

       <div class='mb-5 mt-16'>
            <p class="text-2xl font-bold ">Booking</p>
            <div>
                <p class='ml-20 text-4xl mt-8' style = "color: #48ee2b "><i class="fa-solid fa-check"></i> <span class='text-base text-black mb-2 ml-2'>ใช้จองได้ไม่เกิน 2 ชม</span> </p>
                <p class='ml-20 text-4xl mt-5' style = "color: #eea42b "><i class="fa-solid fa-person"></i> <span class='text-base text-black mb-2 ml-2'>ใช้บัตรประจำจอง 3 ใบ</span> </p>
                <p class='ml-20 text-4xl mt-5' style = "color: #2b51ee "><i class="fa-regular fa-clock"></i> <span class='text-base text-black mb-2 ml-2'>มาก่อนเวลา 15 นาที</span> </p>
            </div>
       </div>
   </div>
</body>
</html>