{% extends "layout.html" %}
{% block head %} 
<title>Activity Place</title>
<style>
    #activity:hover {
        background-color: #e8e8e8;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
{% endblock %}

{% block content %}
   <div class="flex flex-col p-20 gap-5">
        {% for activity in activities %}
        <div class="flex flex-col items-start justify-center pb-10">
            <h1 class="font-bold text-3xl pb-5">
            {{activity}}
            </h1>
            <div class='grid grid-cols-4 gap-10 w-full px-14'>
            {% for place in activity.place_set.all %}
                <a href='{% url "booking-list" place.id %}' >
                    <div id="activity" class="w-full p-5 flex flex-col shadow-md rounded-xl border border-gray-200">
                        <img class = "rounded-xl" style="width: 400px; height: 170px;" src="{{place.photo.url}}" alt="">
                        <p class="text-base text-gray-900 mb-2 mt-4 font-bold">{{place.name}}</p>
                        <p class="text-sm text-gray-500 mb-2 ">Location : {{place.location}}</p>
                        <p class="text-sm text-gray-500 mb-2 ">Deception : {{ place.description|truncatewords:3 }}</p>
                        <hr class="my-4">
                        <p class="text-sm  mb-2 text-[#F86F03]">Manage by <span style="color: black;">: {{place.staff}}</span> </p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        {% if not forloop.last %}
            <hr class="w-full">
        {% endif %}
        {% endfor %}
   </div>
{% endblock %}