{% extends "layout.html" %}
{% block head %} 
<title>Add place</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
{% endblock %}

{% block content %}
    <div class='pt-28 px-96 pb-8 flex flex-col items-center justify-center  '>
        <div class='flex flex-col mt-2 px-8 '>
            <div class='items-start mb-6 ml-[-70px]'>
                <p class='font-bold text-lg mt-2 self-start'>Add New Place</p>
                <p class='font-medium text-gray-500 text-xs mb-2 self-start'>Activity : {{act}} / Add New Place</p>
            </div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    {% if form.name.errors %}
                        <div class="text-red-600 text-xs pt-2 px-2">*{{ form.name.errors }}</div>
                    {% endif %}
                    <label>Name place : </label>
                    {{ form.name }}
                </div>
                <div>
                    {% if form.activity.errors %}
                        <div class="text-red-600 text-xs pt-2 px-2">* {{ form.activity.errors }} </div>
                    {% endif %}
                    <label>Activity : </label>
                    {{ form.activity}}
                </div>
                <div>
                    {% if form.location.errors %}
                        <div class="text-red-600 text-xs pt-2 px-2">* {{ form.location.errors }} </div>
                    {% endif%}
                    <label>Location : </label>
                    {{ form.location }}
                </div>
                <div class='flex flex-col items-center '>
                    <div class="w-full mb-2 ">
                        <label class="block text-sm font-semibold text-gray-700">Description:</label>
                    </div>
                    <div class="w-full">
                        {% if form.description.errors %}
                        <div class="text-red-600 text-xs pt-2 px-2">* {{ form.description.errors }} </div>
                        {% endif %}
                        {{ form.description }}
                    </div>
                </div>
                <div>
                    {% if form.card.errors %}
                        <div class="text-red-600 text-xs pt-2 px-2">* {{ form.card.errors }}<div>
                    {% endif %}
                    <label>Card : </label>
                    {{ form.card }}
                </div>
                <div>
                    {% if form.staff.errors %}
                        <div class="text-red-600 text-xs pt-2 px-2">* {{ form.staff.errors }}</div>
                    {% endif %}
                    <label>Staff : </label>
                    {{ form.staff }}
                </div>

                <div id="preview-container" class="my-4 ">
                    <img id="image-preview" class="object-cover rounded-md shadow-lg hidden w-[400px] h-[250px]">
                </div>

                <div>
                    {% if form.photo.errors %}
                        <div class="text-red-600 text-xs pt-2 px-2">* {{ form.photo.errors }}</div>
                    {% endif %}
                    <label>Photo : </label>
                    {{ form.photo }}
                </div>


            
                <button type="submit" class="m-4 w-[350px] rounded-md border border-sky-500 py-2 px-4 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-sky-500 hover:border-sky-500 focus:text-white focus:bg-sky-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                    Add
                </button>
            </form>
            
        </div>
    </div>
{% endblock %}


{% block script%}
    {{ block.super }}
    document.getElementById('photo-input').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const imgPreview = document.getElementById('image-preview');
            imgPreview.src = URL.createObjectURL(file);
            imgPreview.classList.remove('hidden');
        }
    });

{% endblock %}

