{% extends "layout.html" %}
{% block head %}
    <title>Booking</title>
{% endblock %}

{% block content %}
    <div class='flex items-center justify-center px-20 py-28 '>
        <div class='p-10 rounded-3xl shadow-md w-[600px] bg-white'>
            {% if user.is_staff %}
            <h2 class="text-lg font-normal pb-2"><i class="fa-solid fa-address-card pr-1" style="color: #74C0FC;"></i>Student Infomation</h2>
            <div class="flex w-full py-2 border px-4 rounded-lg mb-6">
                <div class='flex flex-col w-6/12'>
                    <div class="flex flex-col">
                        <p class="text-sm text-gray-500">Student</p>
                        <p class="text-base text-gray-900">{{booking.student}}</p> 
                    </div>
                    <div class="flex flex-col pt-2">
                        <p class="text-sm text-gray-500">Email</p>
                        <p class="text-base text-gray-900">{{booking.student.email}}</p> 
                    </div>
                </div>
                <div class='flex flex-col w-6/12'>
                    <div class="flex flex-col">
                        <p class="text-sm text-gray-500">Student ID</p>
                        <p class="text-base text-gray-900">{{booking.student.stu_card}}</p> 
                    </div>
                    <div class="flex flex-col pt-2">
                        <p class="text-sm text-gray-500">Faculty</p>
                        <p class="text-base text-gray-900">{{booking.student.get_faculty_full_name}}</p> 
                    </div>
                </div>
            </div>
            {% endif %}
            <p class='text-lg font-normal'><i class="fa-solid fa-address-book pr-1" style="color: #74C0FC;"></i>Booking</p>
            <p class="text-[10px] text-gray-500 mt-1">{{booking}}</p>
            <div class="mt-4 p-3 flex flex-col gap-2 border rounded-lg">
                <div class="flex w-full px-2 rounded-lg mb-6">
                    <div class='flex flex-col w-6/12'>
                        <div class="flex flex-col">
                            <p class="text-sm text-gray-500">Place</p>
			                <p class="text-base text-gray-900">{{booking.place.name}}</p> 
                        </div>
                        <div class="flex flex-col pt-2">
                            <p class="text-sm text-gray-500">Date Boking</p>
			                <p class="text-base text-gray-900">{{booking.date|date:"d/m/Y"}}</p> 
                        </div>
                    </div>
                    <div class='flex flex-col w-6/12'>
                        <div class="flex flex-col">
                            <p class="text-sm text-gray-500">Start time</p>
			                <p class="text-base text-gray-900">{{booking.start_time|time:"H:i"}}</p>  
                        </div>
                        <div class="flex flex-col pt-2">
                            <p class="text-sm text-gray-500">End time</p>
			                <p class="text-base text-gray-900">{{booking.end_time|time:"H:i"}}</p> 
                        </div>
                    </div>
                </div>
                <div>
                    <p class="text-sm mt-3 text-gray-500">Student Card Booking</p>
                    <div class='grid grid-cols-2 mt-6 ml-8 gap-y-4'>
                        {% for i in bookingfile%}
                            <img class = 'w-52 h-40 border rounded-lg'src="{{i.image.url}}" alt="">
                        {%endfor%}
                    </div>
                </div>

                <p class='font-base mt-8     text-gray-400'>Place Description</p>
                <hr class='mb-2'>
                <div>
                    <p class="text-sm text-gray-500">Location</p>
                    <p class="text-sm text-gray-900">{{booking.place.location}}</p> 
                </div>

                <div>
                    <p class="text-sm text-gray-500">Description</p>
                    <p class="text-sm text-gray-900">{{booking.place.description}}</p> 
                    
                </div>

                <div>
                    <p class="text-sm text-gray-500">Staff</p>
                    {% for staff in booking.place.staff.all %}
                        <p class="text-sm text-gray-900">{{staff}}</p>
                    {% endfor %}                    
                </div>


                {% if perms.booking.delete_booking%}
                <div class='flex justify-end mt-4'>
                    <button class='p-2 rounded-md text-sm text-red-600' onclick='deleteBooking({{booking.id}}, "{{csrf_token}}")' >ยกเลิกการจอง</button>
                </div>
                {% endif %}
                {% if user.is_staff %}
                <a href="{% url 'booking-list' booking.place.id  %}">
                    <button  class='bg-[#3A4F54] p-1 text-white rounded-md text-[15px] w-full'>ย้อนกลับ</button>
                </a>
                {% else %}
                <a href="{% url 'mybooking' %}">
                    <button  class='bg-[#3A4F54] p-1 text-white rounded-md text-[15px] w-full'>ย้อนกลับ</button>
                </a>
                {% endif %}   
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

{{ block.super }}
        function deleteBooking(booking_id, csrf_token) {

            fetch(`/booking/mybooking/${booking_id}/`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrf_token,
                },
            })
            .then((response) => {
                if (response.ok) {
                    console.log("Item deleted successfully");
                    window.location.href = "{% url 'mybooking' %}";
                } else {
                    return response.json().then((data) => {
                        console.error("Failed to delete:", data);
                    });
                }
            })
            .catch((error) => console.error("Error:", error));
        }
{% endblock script %}

