{% extends "layout.html" %} 
{% block head %} 
<title>Edit place</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
{% endblock %}

{% block content %}
<div class='pt-20 px-96 pb-8 flex flex-col items-center justify-center'>
    <div class='flex flex-col px-8 w-[800px] bg-white rounded-lg p-6'>
        <div class='flex justify-between items-center'>
            <div>
                <p class='font-bold text-base mt-2 self-start'>Edit New Place</p>
                <p class='font-medium text-gray-500 text-sm mb-7 self-start'>Activity : {{place.activity}} / Edit Place</p>
            </div>
            <p class='text-red-400 hover:text-red-600 cursor-pointer' onclick='deleteplace({{place.id}}, "{{csrf_token}}")'><i class="fa-solid fa-trash"></i></p>
        </div>

        <form method="post" action="/booking/editplace/{{ place.id }}/" enctype="multipart/form-data" class="px-32">            <div id="preview-container" class=" flex items-center justify-center">
                <img src='{{ place.photo.url }}' id="image-preview" class="object-cover rounded-md shadow-md w-[400px] h-[250px]">
            </div>
            <div class='flex flex-col mb-4 text-sm items-center mt-5'>
                {% if form.photo.errors %}
                    <div class="text-red-600 text-xs pt-2 px-2">* {{ form.photo.error }}</div>
                {% endif %}
                {{ form.photo }}
            </div>
            {% csrf_token %}
            <div class='flex flex-col mb-4'>
                {% if form.name.errors %}
                    <div class="text-red-600 text-xs pt-2 px-2">* {{ form.name.errors }}</div>
                {% endif %}
                <label class="font-semibold">Name place:</label>
                {{ form.name }}
            </div>
            <div class='flex flex-col mb-4'>
                {% if form.activity.errors %}
                    <div class="text-red-600 text-xs pt-2 px-2">* {{ form.activity.errors }}</div>
                {% endif %}
                <label class="font-semibold">Activity:</label>
                {{ form.activity }}
                
            </div>
            <div class='flex flex-col mb-4'>
                {% if form.location.errors %}
                    <div class="text-red-600 text-xs pt-2 px-2">* {{ form.location.errors }}</div>
                {% endif %}
                <label class="font-semibold">Location:</label>
                {{ form.location }}
                
            </div>
            <div class='flex flex-col mb-4'>
                {% if form.description.errors %}
                    <div class="text-red-600 text-xs pt-2 px-2">* {{ form.description.errors }}</div>
                {% endif %}
                <label class="font-semibold">Description:</label>
                {{ form.description }}
                
            </div>
            <div class='flex flex-col mb-4'>
                {% if form.card.errors %}
                    <div class="text-red-600 text-xs pt-2 px-2">* {{ form.card.errors }}</div>
                {% endif %}
                <label class="font-semibold">Card:</label>
                {{ form.card }}
                
            </div>
            <div class='flex flex-col mb-4'>
                {% if form.staff.errors %}
                    <div class="text-red-600 text-xs pt-2 px-2">* {{ form.staff.errors }}</div>
                {% endif %}
                <label class="font-semibold">Staff:</label>
                {{ form.staff }}
                
            </div>

            <button type="submit" class="mt-4 w-full rounded-md border border-sky-500 py-2 px-4 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-sky-500 hover:border-sky-500 focus:text-white focus:bg-sky-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
                Save
            </button>
        </form>

        
    </div>
</div>

{% endblock %}

{% block script %}
    {{ block.super }}
    document.getElementById('photo-input').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
            const imgPreview = document.getElementById('image-preview');
            imgPreview.src = URL.createObjectURL(file);
        }
    });

    function deleteplace(place_id, csrf_token) {
        fetch(`/booking/editplace/${place_id}/`, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrf_token,
            },
        })
        .then((responsex) => {
            if (responsex.ok) {
                return responsex.json();
            } else {
                console.error("Failed to delete the item:", responsex.statusText);
                alert("การลบสถานที่ไม่สำเร็จ");
            }
        })
        .then((data) => {
            if (data) {
                console.log("ลบสถานที่สำเร็จ");
                window.location.href = `/booking/activity/${data.act}/`;
            }
        })
        .catch((error) => {
            console.error("Error:", error);
            alert("การลบสถานที่ไม่สำเร็จ");
        });
    }
    
{% endblock %}
