{% extends 'layout.html'%}
{% block head%}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Home</title>
    <style>
        *{
            box-sizing: border-box;
            
        }


        #card-list #card-item #user-image{
            width: 350px;
            height: 300px;
            border-radius: 10px;
            border: 3px solid #fff;
            padding: 4px; 
        }
    </style>
{% endblock%}

{% block content%}
    <div class='flex flex-col gap-10 mb-32'>
        {% if user.is_authenticated%}
            <div class='w-full pt-56 flex flex-col justify-center items-center gap-2'>
                <p class='text-3xl font-bold '>Hello, {{student}} </p>
                <p>ยินดีต้อนรับสู่การจองสนามกีฬา</p>
            </div>
        {% endif %}

        <div class='w-full  flex flex-col justify-center items-center gap-2 mt-40'>
            <p class='text-xl font-bold '>จองง่ายๆ เพียง 4 ขั้นตอน</p>
        </div>
        <div class="flex justify-center gap-6 ">
            <div class="bg-yellow-400 text-black rounded-lg shadow-lg p-6 w-64">
            <div class="flex items-center mb-4">
                <div class="bg-white rounded-full p-2 mr-3">
                </div>
                <h2 class="font-bold text-base">Select Activity</h2>
            </div>
            <p class="mb-4 text-sm">คุณเลือกกิจกรรมที่คุณอยากจะจอง</p>
            </div>
            <div class="bg-red-700 text-white rounded-lg shadow-lg p-6 w-64">
                <div class="flex items-center mb-4">
                <div class="bg-white rounded-full p-2 mr-3">
                </div>
                <h2 class="font-bold text-base">Select Place</h2>
                </div>
                <p class="mb-4 text-sm">เลือกสนามที่คุณต้องการ</p>
            </div>

            <div class="bg-green-500 text-black rounded-lg shadow-lg p-6 w-64">
                <div class="flex items-center mb-4">
                <div class="bg-white rounded-full p-2 mr-3">
                </div>
                <h2 class="font-bold text-base">Select Date</h2>
                </div>
                <p class="mb-4 text-sm">เลือกวันที่ต้องการจอง</p>
            </div>

            <div class="bg-purple-600 text-white rounded-lg shadow-lg p-6 w-64">
                <div class="flex items-center mb-4">
                <div class="bg-white rounded-full p-2 mr-3">
                </div>
                <h2 class="font-bold text-base">Select Time</h2>
                </div>
                <p class="mb-4 text-sm">เลือกช่วงเวลาที่ต้องการ ไม่เกิน 3 ชั่วโมง</p>
            </div>

       </div>

        <div class=' flex flex-col justify-center items-center mt-20'>
            <p class='text-2xl w-[70%] font-bold mb-7  py-5 px-10 rounded-[7px]'>Select Activity</p>
            <div class="grid grid-cols-3 gap-x-4 gap-y-3" >
                {% for i in activity %}

                    {% if i.place_set.all|length > 0 %}
                        <a href="{%url 'activity' i.id%}">
                    {% endif %}
                        <div class="bg-white  transition duration-300 hover:bg-[#8ABCD4] rounded-lg shadow-md p-6 w-80">
                                <div class="flex justify-center mb-6">
                                    {% if i.photo %}
                                    <img src="{{ i.photo.url }}"  class="w-[200px] h-[200px]">
                                    {% else %}
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/0/02/Loading.png"  class="w-[200px] h-[200px]">
                                    {% endif %}
                                </div>
                                <div class='flex justify-between items-center'>
                                    <h2 class="text-base font-semibold text-gray-800 mb-2 ">{{ i.name }}</h2>
                                    
                        
                                </div>
                                {% if i.place_set.all|length > 0 %}
                                    <p class="text-gray-600 text-sm mb-4">
                                        Place in {{ i.name }} Activity : {{ i.place_set.all|length }}
                                    </p>
                                {% else %}
                                    <p class="text-gray-600 text-sm mb-4">
                                        Coming Soon...
                                    </p>
                                {% endif%}
                            </div>
                    {% if i.place_set.all|length > 0 %}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}
