{% extends 'layout.html'%}
{% block head%}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Manage Activity</title>

{% endblock%}

{% block content%}
    <div class='flex flex-col gap-14 mb-32 pt-32'>
        <p class='text-2xl font-semibold px-56'>Manage Activity</p>

        <div id='addactivity' class='hidden mt-[-10px] flex justify-center items-center'>
            <div class='bg-white rounded-[20px] shadow-md p-8 w-[30%] flex flex-col gap-3'>
                <p class='text-lg font-semibold mb-4'>Add Activity</p>
                <form method='post' action="/booking/homeadmin/" enctype="multipart/form-data" class='flex flex-col gap-2'>
                    {% csrf_token %}
                    <label for="activity-name" class='text-sm'>Activity Name </label>
                    <input required type="text" name="activity-name" class="mb-3 text-xs rounded-lg p-1.5 border-solid border-2 border-gray-200 w-full">
                    {% if errors.act %}
                        <div class="text-red-600 text-xs pt-2 px-2">* {{ errors.first_name }}</div>
                    {% endif %}
                    <label for="upload-photo" class='text-sm'>Photo : </label>
                    <input required id="upload-photo" type="file" name="photo" accept="image/*" class='text-xs' onchange="loadFiles(event)">
                    
                    
                    <img id="preview" src="" class="w-[200px] h-[200px] mt-1 rounded-lg border border-gray-300 shadow-md" alt="Image preview" style="max-width: 300px; display: none;">

                    
                    <div class='flex justify-between mt-5'>
                        <button class='text-red-500 text-sm' type='button' onclick='hiddenadd(event)'>cancel</button>
                        <button class='text-green-500 text-sm' type='submit'>Add</button>
                    </div>
                </form>
            </div>
        </div>

        <div id = 'activityshow' class='flex flex-col justify-center items-center '>
            <div class='grid grid-cols-3 gap-x-3 gap-y-5'>
                {% for i in activity%}

                    <div id='show-{{i.id}}' class="  rounded-lg shadow-lg max-w-xs bg-[#F9F9F9 ]">                
                        <div class="px-7 pb-1 pt-5">
                            <div class='flex gap-3 items-center justify-between' >
                                <a href="{% url 'activity' i.id %}">
                                    <p class="text-gray-500 ">{{ i.name }}</p>
                                </a>
        
                                {%if perms.booking.change_activity%}
                                    <button id ='edit-btn-{{i.id}}' class='text-sm mb-2 hover:text-gray-400 text-gray-800 flex items-center justify-center'>
                                        <i class="fa-solid fa-pen-to-square"></i>                                
                                    </button>
                                {% endif %}
                            </div>
                            
                            {%if perms.booking.delete_activity%}
                            <p class='items-self-start justify-self-start mt-2 text-red-500 text-xs hover:text-orange-400 cursor-pointer' onclick='deleteActivity({{i.id}}, "{{csrf_token}}")'>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5m6 4.125 2.25 2.25m0 0 2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
                                </svg>                                                 
                            </p>
                            {% endif %}
                        </div>
                        {% if i.photo %}
                        <div class="p-5">
                            <img src="{{ i.photo.url }}" class='shadow-sm w-[300px] h-[200px]'  alt="">
                        </div>
                        {% else %}
                        <div class="p-5">
                            <img src="" class='shadow-sm w-[300px] h-[200px]'  alt="">
                        </div>
                        {% endif %}
                        
                    </div>


                    <div id="edit-{{i.id}}" class="hidden mt-[-10px]  flex justify-center items-center">
                        <div class='bg-white  rounded-[20px] shadow-md p-8 w-[320px] h-[300px] flex flex-col gap-3'>
                            <p class='text-lg font-semibold mb-4'>Edit Activity</p>
                            <form method='post' action="/booking/homeadmin/{{i.id}}/" enctype="multipart/form-data" class='flex flex-col gap-2'>
                                {% csrf_token %}
                                <label for="activity-name" class='text-sm'>Activity Name </label>
                                <input value="{{ i.name }}" required type="text" name="activity-name" class="mb-3 text-xs rounded-lg p-1.5 border-solid border-2 border-gray-200 w-full">
                                
                                <label for="upload-photo" class='text-sm'>Photo : </label>
                                {% if i.photo %}
                                <input value="{{ i.photo.url }}" required id="upload-photo" type="file" name="photo" accept="image/*" class='text-xs' onchange="loadFiles(event)">
                                {% else %}
                                <input value="" required id="upload-photo" type="file" name="photo" accept="image/*" class='text-xs' onchange="loadFiles(event)">
                                {% endif %}
                                
                                
                                <div class='flex justify-between mt-5'>
                                    <button class='text-red-500 text-sm' type='button' id ='canedit-btn-{{i.id}}'>Cancel</button>
                                    <button class='text-green-500 text-sm' type='submit'>Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
            

                {% endfor %}
                
                {%if perms.booking.add_activity%}
                    <div onclick='showadd()'
                        class="bg-[#33647B] text-white cursor-pointer shadow-xl w-[320px] h-[320px] p-[15px] flex flex-col items-center justify-center bg-cover bg-center rounded-[20px]">
                        <p class="text-2xl font-bold mb-4">+</p>
                    </div>
                {% endif %}
            </div>

            
        </div> 
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    function loadFiles(event) {
        var output = document.getElementById('preview');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.style.display = 'block'; 
    }

    function showadd(){
        let add = document.getElementById('addactivity');
        let show = document.getElementById('activityshow');
        add.classList.remove('hidden');
        show.classList.add('hidden');
    }


    function hiddenadd(event){
        let add = document.getElementById('addactivity');
        let show = document.getElementById('activityshow');
        add.classList.add('hidden');
        show.classList.remove('hidden');
    }

    {% for i in activity %}
        document.getElementById('edit-btn-{{i.id}}').addEventListener('click', function() {
            document.getElementById('show-{{i.id}}').classList.add('hidden');
            document.getElementById('edit-{{i.id}}').classList.remove('hidden');
        });
    {% endfor %}

    {% for i in activity %}
        document.getElementById('canedit-btn-{{i.id}}').addEventListener('click', function() {
            document.getElementById('show-{{i.id}}').classList.remove('hidden');
            document.getElementById('edit-{{i.id}}').classList.add('hidden');
        });
    {% endfor %}



    function deleteActivity(act_id, csrf_token) {

        fetch(`/booking/homeadmin/${act_id}/`, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrf_token,
            },
        })
        .then((response) => {
            if (response.ok) {
                alert("Item deleted successfully");
                window.location.href = "{% url 'homeadmin' %}";
            } else {
                return response.json().then((data) => {
                    console.error("Failed to delete:", data);
                });
            }
        })
        .catch((error) => console.error("Error:", error));
    }
    
{% endblock %}
