
<!DOCTYPE html>
<html>
    {% block nav %}{% include "nav.html" %}{% endblock  %}
    <head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} <title>{% block title %} Activity App {% endblock %}</title> {% endcomment %}
        <script src="https://cdn.tailwindcss.com"></script>
    {% endblock  %}
    </head>
    <body class="w-full h-full min-h-screen ">
        {% block content %}
        {% endblock  %}
    </body>
    <script>
        {% block script %}
        // Get the content of the <title> tag
        const titleText = document.title;

        // Find the element where you want to display the title
        const navbarTitle = document.getElementById('show-title');

        // Set the text inside the navbar
        navbarTitle.textContent = titleText;

        
        {% endblock %}
    </script>
</html>