<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.14.0/sweetalert2.min.js'></script>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap" rel="stylesheet">
        
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        fontFamily: {
                            'noto-thai': ['Noto Sans Thai', 'sans-serif'],
                        },
                    },
                }
            }
        </script>
        {% block head %}
        {% endblock %}
    </head>
    <body class="flex flex-col w-full h-full min-h-screen font-noto-thai">
        <!-- Navbar -->
        {% block nav %}{% include "nav.html" %}{% endblock %}

        <!-- Main Content -->
        {% block content %}
        {% endblock %}

    </body>
    <script>
    {% block script %}
        // Get the content of the <title> tag
        const titleText = document.title;

        // Find the element where you want to display the title
        const navbarTitle = document.getElementById('show-title');

        // Set the text inside the navbar
        if (navbarTitle) {
            navbarTitle.textContent = titleText;
        }
    {% endblock %}
    </script>
</html>