{% extends "layout.html" %}
{% block head %}
	<title>My Booking</title>
{% endblock %}
{% block content %}
<div class="px-60 py-36">
	<div class="flex  items-center justify-end space-y-1">
		<div>
			<p>My booking</p>
			<p class="text-lg font-bold">{{student}}</p>
			<p class="text-sm text-gray-500 mt-2">{{student.stu_card}}</p>
		</div>
	</div>

	<div class='py-10 px-20'>
		<p class="text-lg"><i class="fa-solid fa-list fa-sm pr-2"></i>Booking</p>
		<hr class="my-4 mb-8" >
		<div id = 'booking' class="grid grid-cols-3 gap-7 justify-center	">
			{% for i in booking %}
				<a href="{% url 'booking' i.id %}">
					<div class="max-w-72 p-6 bg-white rounded-lg shadow-md">
				
						<h2 class="text-base font-bold text-gray-900"><span class="text-sm font-normal text-gray-500">Place : </span>{{i.place}}</h2>
				
						
						<div class="mt-4">
							<p class="text-sm text-gray-500">Service</p>
							<p class="text-base text-gray-900">{{i.place.location}}</p>
						</div>
				
						
						<div class="mt-4 flex justify-between">
							<div>
								<p class="text-sm text-gray-500">Date</p>
								<p class="text-base text-gray-900">{{ i.date|date:"F j, Y" }}</p>
							</div>
							<div>
								<p class="text-sm text-gray-500">Time</p>
								<p class="text-base text-gray-900">{{ i.start_time|time:"H:i" }} - {{ i.end_time|time:"H:i" }}</p>
							</div>
						</div>
				
						
						<hr class="my-4">
		
						<div class="flex justify-between">
							{% if i.status == 'PENDING' %}
								<div class="text-yellow-400 font-semibold text-sm">{{i.status}}</div>
							{% elif i.status == 'APPROVED' %}
								<div class="text-green-600 font-semibold text-sm">{{i.status}}</div>
							{% elif i.status == 'REJECTED' %}
								<div class="text-red-500 font-semibold text-sm">{{i.status}}</div>
							{% else %}
							<div class="text-gray-500 font-semibold text-sm">{{i.status}}</div>
							{% endif%}
							{% if not i.status == 'CANCELED' %}
							<button  onclick="deleteBooking({{ i.id }}, '{{csrf_token}}')" class="text-sm text-red-500">ยกเลิก</button>
							{% endif %}
						</div>
					</div>
				</a>
			{% endfor %}


		</div>
	</div>
</div>
{% endblock  %}

{% block script %}

{{ block.super }}

function deleteBooking(booking_id, csrf_token) {

	fetch(`/booking/mybooking/${booking_id}/`, {
	method: "DELETE",
	headers: {
		"Content-Type": "application/json",
		"X-CSRFToken": csrf_token,
	},
	})
	.then((data) => {
		console.log("Item deleted successfully");
		window.location.reload();
	})
	.catch((error) => console.error("Error:", error));
}



{% endblock %}