
{% extends "layout.html" %}
{% block head %}
	<title>Mybooking</title>
{% endblock %}
{% block content %}
<div class="px-60 py-20">
	<div class="flex  items-center justify-end space-y-1">
		<div>
			<p>Hello,</p>
			<p class="text-2xl font-bold">Popo Gangnam</p>
			
		</div>
		<img class ="ml-2 rounded-full w-24" src="https://scontent.fbkk3-4.fna.fbcdn.net/v/t1.6435-1/69848804_1689495944518463_4577205990910328832_n.jpg?stp=c0.0.1108.1108a_dst-jpg_s160x160&_nc_cat=102&ccb=1-7&_nc_sid=e4545e&_nc_eui2=AeF32F2QjuCAcp-zX-UvoWFrsdnDwiOCcc6x2cPCI4JxznsdMo5iDKwxkxqp7pAzL3xBE1o22nQfLUGE7R-Qpu04&_nc_ohc=pEYp7ZwbyBMQ7kNvgEiIAcm&_nc_ht=scontent.fbkk3-4.fna&oh=00_AYCM4EFFEpT0Sn529KRk_P4_JXnJUxS_aRhm3fP9AZflRQ&oe=671B1E99" alt="">
	</div>

	<div class='py-10 px-20'>
		<p class="text-lg">Booking</p>
		<hr class="my-4 mb-8" >
		<div id = 'booking' class="grid grid-cols-3 gap-7 justify-center	">
			{% for i in booking%}
				<div class="max-w-72 p-6 bg-white rounded-lg shadow-md">
				
					<h2 class="text-lg font-bold text-gray-900">{{i.place}}</h2>
			
					
					<div class="mt-4">
						<p class="text-sm text-gray-500">Service</p>
						<p class="text-lg text-gray-900">{{i.place.location}}</p>
					</div>
			
					
					<div class="mt-4 flex justify-between">
						<div>
							<p class="text-sm text-gray-500">Date</p>
							<p class="text-lg text-gray-900">{{ i.booking_date|date:"F j, Y" }}</p>
						</div>
						<div>
							<p class="text-sm text-gray-500">Time</p>
							<p class="text-lg text-gray-900">{{ i.booking_date|time:"H:i" }}</p>
						</div>
					</div>
			
					
					<hr class="my-4">
	
					<div class="flex justify-between">
						<button class="text-purple-600 font-semibold">Accept Booking</button>
						<button class="text-gray-400">ยกเลิก</button>
					</div>
				</div>
			{% endfor %}


		</div>
	</div>
</div>
{% endblock  %}


