<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="w-full">
    <header>
        <nav class="flex fixed items-center justify-center bg-[#FFD24C] p-3 w-full">
          <div class="flex items-center justify-between flex-wrap bg-[#FFD24C] w-full">
            <div class="flex w-2/12 justify-start p-1">
              <h1 class="font-bold text-xl " id="show-title">Page Name</h1>
            </div>
            <ul class="flex justify-center gap-2 w-8/12 px-2">
              <li class="flex">
                <a href="{% url 'activity' %}" 
                class="text-center block rounded py-2 px-4 bg-[#FFD24C] hover:bg-[#FFE69A]  duration-300" 
                >
                  Activity
                </a>
              </li>
              <li class="flex">
                <a href="{% url 'report-form' %}" 
                class="text-center block rounded py-2 px-4 FFE69A hover:bg-[#FFE69A]  duration-300" 
                >
                  Report
                </a>
              </li>
              <li class="flex ">
                <a href="{% url 'mybooking' %}" 
                class="text-center block rounded py-2 px-4 FFE69A hover:bg-[#FFE69A]  duration-300" 
                >
                  My Booking  
                </a>
              </li>
              <li class="flex ">
                <a href="{% url 'report-list' %}" 
                class="text-center block rounded py-2 px-4 FFE69A hover:bg-[#FFE69A]  duration-300" 
                >
                  Reports
                </a>
              </li>
              <li class="text-center">
                <a class="block py-2 px-4 text-gray-400 cursor-not-allowed" href="#">Disabled Item</a>
              </li>
            </ul>
            <div class="flex w-2/12 justify-end p-1">
              <a href="#" for='profile'
              class="flex w-fit gap-2 items-center leading-none border-2 rounded-full hover:border-transparent hover:bg-white mt-4 lg:mt-0 duration-300"
              >
                <img class="w-8 h-8 rounded-full" src="https://i.pinimg.com/736x/d8/1f/e6/d81fe6d70a185a7db799198796b149ff.jpg" alt="Michael Brown">
                <span class="text-white pr-3 hover:text-black duration-300 ">Nakano Miku</span>
              </a>
            </div>
          </div>
        </nav>
    </header>
</div>
</html>
