<!-- nav.html -->
<nav class="flex fixed items-center justify-center bg-[#FFD24C] p-3 z-40 w-full noto-thai">
  <div class="flex items-center justify-between flex-wrap bg-[#FFD24C] w-full">
    <div class="flex w-2/12 justify-start p-1">
      <h1 class="font-bold text-2xl " id="show-title">Page Name</h1>
    </div>
    <ul class="flex justify-center gap-2 w-8/12 px-2">
      {% if user.is_staff %}
          <li class="flex">
            <a href="{% url 'homeadmin' %}" 
            class="text-center block rounded py-2 px-4 bg-[#FFD24C] hover:bg-[#FFE69A]  duration-300" 
            >
              Activity
            </a>
          </li>

          <li class="flex">
            <a href="{% url 'place-list' %}" 
            class="text-center block rounded py-2 px-4 bg-[#FFD24C] hover:bg-[#FFE69A]  duration-300" 
            >
              Confirm
            </a>
          </li>

          <li class="flex">
            <a href="{% url 'report-list' %}" 
            class="text-center block rounded py-2 px-4 bg-[#FFD24C] hover:bg-[#FFE69A]  duration-300" 
            >
              Report List
            </a>
          </li>

          <li class="flex">
            <a href="{% url 'staff-list' %}" 
            class="text-center block rounded py-2 px-4 bg-[#FFD24C] hover:bg-[#FFE69A]  duration-300" 
            >
              Staff List
            </a>
          </li>    
      {% else %}
          <li class="flex">
            <a href="{% url 'homeuser' %}" 
            class="text-center block rounded py-2 px-4 bg-[#FFD24C] hover:bg-[#FFE69A]  duration-300" 
            >
              Home
            </a>
          </li>
          <li class="flex ">
            <a href="{% url 'mybooking' %}" 
            class="text-center block rounded py-2 px-4 bg-[#FFD24C] hover:bg-[#FFE69A]  duration-300" 
            >
              My Booking  
            </a>
          </li>
          <li class="flex ">
            <a href="{% url 'my-report-list' user.id %}" 
            class="text-center block rounded py-2 px-4 FFE69A hover:bg-[#FFE69A]  duration-300" 
            >
              My Report
            </a>
          </li>  
        {%endif%}

    </ul>
    <div class="flex w-2/12 justify-end p-1 relative">
      <button onclick="toggleDropdown(event)" for='profile'
      class="flex w-fit gap-2 px-4 py-2 items-center leading-none rounded-full hover:border-transparent hover:bg-[#FFE69A] mt-4 hover:text-black lg:mt-0 duration-300"
      >
        <i class="fa-solid fa-circle-user fa-lg"></i>
        <span class="pr-3 text-black font-semibold duration-300">{{user.first_name}} {{user.last_name}}</span>
      </button>
      <div id="profileDropdown" class="absolute hidden bg-white shadow-lg rounded mt-10 w-8/12 duration-300">
        <a href="{% url 'my-profile' user.id %}" class="block px-4 py-2 text-gray-800 hover:bg-[#fff7dc] rounded duration-300"><i class="fa-solid fa-user-pen pr-2"></i>Profile</a>
        <a href="{% url 'logout' %}" class="block px-4 py-2 text-gray-800 hover:bg-[#fff7dc] rounded duration-300"><i class="fa-solid fa-right-from-bracket pr-2"></i>Logout</a>
      </div>
    </div>
  </div>
</nav>
<script>
  function toggleDropdown(event) {
    event.preventDefault(); 
    const dropdown = document.getElementById('profileDropdown');
    dropdown.classList.toggle('hidden'); 
  }

  window.onclick = function(event) {
    const dropdown = document.getElementById('profileDropdown');
    if (!event.target.closest('.relative')) {
      if (!dropdown.classList.contains('hidden')) {
        dropdown.classList.add('hidden');
      }
    }
  };
</script>