<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="w-full">
    <header>
        <nav class="flex fixed items-center justify-between flex-wrap bg-blue-700 p-4 w-full">
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto duration-300">
              <div class="text-sm lg:flex-grow">
                <a href="{% url 'activity' %}" 
                class="block mt-4 lg:inline-block lg:mt-0 text-blue-100 hover:text-white mr-4 font-semibold hover:text-xl duration-300"
                >
                    Activity
                </a>
                <a href="{% url 'report-form' %}" 
                class="block mt-4 lg:inline-block lg:mt-0 text-blue-100 hover:text-white mr-4 font-semibold hover:text-xl duration-300"
                >
                    Report
                </a>
                <a href="{% url 'mybooking' %}" 
                class="block mt-4 lg:inline-block lg:mt-0 text-blue-100 hover:text-white font-semibold hover:text-xl duration-300"
                >
                    My Booking
                </a>
              </div>
              <div>
                <a href="#" 
                class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0 duration-300"
                >
                    Log Out
                </a>
              </div>
            </div>
          </nav>
    </header>
</div>
</html>
