{% extends "layout.html" %}
{% block head %}
<title>Activity booking</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
{% endblock  %}
{% block content %}

<div class="grid grid-cols-3 h-screen pt-14">

    <div class="col-span-2 px-64 py-20 flex flex-col font-semibold  p-4 shadow-xl ">
        <p class="text-xl mb-6 text-gray-500 text-[13px]">Booking {{place}}</p>
        <p class='pb-4 text-base'>วันที่ : {{date}}</p>

        <p class="text-[16px] mb-6 mt-4">Select Time</p>
        <div class="grid grid-cols-4 gap-[2px]">
            <button type='button' id='13' onclick='div_time(this)' class="bg-slate-100  shadow-md px-2 h-8 text-center cursor-pointer text-xs  rounded-md text-gray-700">13.00</button>
            <button type='button' id='14' onclick='div_time(this)' class="bg-slate-100  shadow-md px-2 h-8 text-center cursor-pointer text-xs  rounded-md text-gray-700">14.00</button>
            <button type='button' id='15' onclick='div_time(this)' class="bg-slate-100  shadow-md px-2 h-8 text-center cursor-pointer text-xs  rounded-md text-gray-700">15.00</button>
            <button type='button' id='16' onclick='div_time(this)' class="bg-slate-100  shadow-md px-2 h-8 text-center cursor-pointer text-xs  rounded-md text-gray-700">16.00</button>
            <button type='button' id='17' onclick='div_time(this)' class="bg-slate-100  shadow-md px-2 h-8 text-center cursor-pointer text-xs  rounded-md text-gray-700">17.00</button>
            <button type='button' id='18' onclick='div_time(this)' class="bg-slate-100  shadow-md px-2 h-8 text-center cursor-pointer text-xs  rounded-md text-gray-700">18.00</button>
            <button type='button' id='19' onclick='div_time(this)' class="bg-slate-100  shadow-md px-2 h-8 text-center cursor-pointer text-xs  rounded-md text-gray-700">19.00</button>
            <button type='button' id='20' onclick='div_time(this)' class="bg-slate-100  shadow-md px-2 h-8 text-center cursor-pointer text-xs  rounded-md text-gray-700">20.00</button>
        </div>

        <p class=" mt-6  text-[16px]">Upload {{place.card}} Student Card</p> 
        
  


        <div class='flex flex-col justify-center items-center gap-1 text-xs'>
            <div id="preview-container" class="grid grid-cols-2 gap-x-3 gap-y-3 mt-4">
                
            </div>
            
            <input multiple id="upload-button" type="file" name="image" accept="image/*" class="hidden " onchange="loadFiles(event)">
            
            <label for="upload-button" class="mt-7 text-xs bg-[#FFE69A] text-black text-center w-[150px] py-2 block relative rounded-md mx-auto cursor-pointer">
                <i class="fa-solid fa-cloud-arrow-up"></i>
                Choose a photo 
            </label>
        </div>
            

        <div class='flex justify-end'>
            <button onclick='addbooking()' class="w-32 mt-5 text-sm bg-black hover:bg-gray-600 text-white py-2 px-4 border border-black rounded">
                Booking
            </button>
        </div>
    </div>

    <div class="col-span-1 bg-[#f9f9f9] p-24 flex flex-col gap-4">
        <p class='text-lg font-medium'>{{place.name}}</p>
        <hr class="my-3 border-0 h-[1px] bg-blue-500">
        <img class='w-[500px] h-[210px] rounded-[10px]' src="{{place.photo.url}}" alt="">
        <div class='flex flex-col gap-4'>
            <div>
                <p class="text-sm text-gray-500">Location</p>
                <p class="text-base text-gray-900">{{place.location}}</p>
            </div>

            <div>
                <p class="text-sm text-gray-500">Description</p>
                <p class="text-base text-gray-900">{{place.description}}</p>
            </div>

            <div>
                <p class="text-sm text-gray-500">Staff</p>
                <p class="text-base text-gray-900">{{place.staff}}</p>
            </div>
        </div>
    </div>


</div>

{% endblock %}

{% block script %}
    {{block.super}}

            document.addEventListener('DOMContentLoaded', (event) => {
                const today = new Date(); // วันที่และเวลาปัจจุบัน
                const selectedDate = new Date('{{ date }}'); // วันที่ที่เลือกจาก template
            
                if (today.toDateString() === selectedDate.toDateString()) {
                    const currentHour = today.getHours();
                    for (let i = 13; i <= 20; i++) {
                        if (i <= currentHour) {
                            const timeButton = document.getElementById(i);
                            if (timeButton) {
                                timeButton.disabled = true;
                                timeButton.textContent = 'Unavailable'; // แสดงข้อความว่าไม่สามารถเลือกได้
                                timeButton.className = 'px-2 h-8 text-center text-xs rounded-md text-gray-700 bg-gray-300';
                            }
                        }
                    }
                }
            });
    


            const pendingData = {{ pending|safe }} 
            console.log(pendingData);
            
            for(let pending of pendingData){
                const start_time = parseInt(pending.start_time.split(':')[0])
                const end_time = parseInt(pending.end_time.split(':')[0])
                const gap_time = Math.abs(end_time-start_time)
                for(let x=0; x<gap_time; ++x){
                    pending_time = start_time + x
                    pending_btn = document.getElementById(pending_time)
                    console.log(pending_btn)
                    pending_btn.disabled = true
                    pending_btn.textContent = 'Pending'
                    pending_btn.className = 'px-2 h-8 text-center  text-xs rounded-md text-gray-700 bg-purple-400';
                }
                
            }

            // ใช้ json_script เพื่อสร้างตัวแปร JavaScript จากข้อมูลที่ส่งมา
            const bookingData = {{ booking|safe }} 
            console.log(bookingData);
            
            for(let booking of bookingData){
                const start_time = parseInt(booking.start_time.split(':')[0])
                const end_time = parseInt(booking.end_time.split(':')[0])
                const gap_time = Math.abs(end_time-start_time)
                for(let x=0; x<gap_time; ++x){
                    booking_time = start_time + x
                    booking_btn = document.getElementById(booking_time)
                    console.log(booking_btn)
                    booking_btn.disabled = true
                    booking_btn.textContent = 'Booked'
                    booking_btn.className = 'px-2 h-8 text-center  text-xs rounded-md text-gray-700 bg-red-400';
                }
                
            }

            let selected_time = [];
            
            //ฟัวชั่นเพิ่ม เช้า select_time
            function div_time(e) {
                const time = parseInt(e.textContent);
                const timeIndex = selected_time.indexOf(time);
            
                if (timeIndex !== -1) {
                    // ถ้าเวลานั้นมีอยู่แล้ว ให้ลบออก
                    selected_time.splice(timeIndex, 1);
                    e.classList.remove('bg-green-200'); // เปลี่ยนกลับไปเป็นสีเดิม
                } else if (selected_time.length < 3) {
                    if (selected_time.length === 0) {
                        // ถ้าไม่มีเวลาเลย เพิ่มอะไรก้ได้
                        selected_time.push(time);
                        e.classList.add('bg-green-200'); // เปลี่ยนเป็นสีที่เลือก
                    } else {
                        // ตรวจสอบว่ามีเวลาเริ่มต้นที่เล็กกว่าหรือไม่
                        const lastSelectedTime = selected_time[selected_time.length - 1];
                        if (time === lastSelectedTime + 1) {
                            selected_time.push(time);
                            e.classList.add('bg-green-200'); // เปลี่ยนเป็นสีที่เลือก
                        } else {
                            // ถ้าไม่เรียงกัน
                            alert('กรุณาเลือกเวลาในลำดับที่ต่อเนื่องกันเท่านั้น');
                        }
                    }
                }
            
                console.log(selected_time);
            }
            
            function addbooking() {
                const place = '{{place.id}}';
                const date = '{{date}}';
            
                const formData = new FormData();
                formData.append('select_time', JSON.stringify(selected_time)); //แปลงให้อยู่ในรูป JSON
                formData.append('date', date);
                const files = document.getElementById('upload-button').files;
                for (let i = 0; i < files.length; i++) {
                    formData.append('image', files[i]);
                }
            
                fetch(`/booking/placebooking2/${place}/`, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}'
                    }
                })
                .then((response) => {
                    return response.json(); // อ่านข้อมูลเป็น JSON ก่อน
                }).then((data) => {
                    if (data.status === "success") {
                        alert('การจองสำเร็จ');
                        window.location.href = "{% url 'mybooking'%}"; // เปลี่ยนไปที่หน้าการจองของฉัน
                    } else if (data.status === "error") {
                        alert(data.message);
                    }
                })
                .catch((error) => {
                    console.error("Error:", error);
                    alert('เกิดข้อผิดพลาด โปรดจองใหม่อีกครั้ง');
                });
            }
            
            
            var loadFiles = function(event) {
                var outputContainer = document.getElementById('preview-container');
                outputContainer.innerHTML = '';
            
                Array.from(event.target.files).forEach(file => {
                    var img = document.createElement('img');
                    img.style.Width = '200px';
                    img.style.height = '200px';
                    img.src = URL.createObjectURL(file);
                    
                    img.onload = function() {
                        URL.revokeObjectURL(img.src); // free memory
                    };
            
                    outputContainer.appendChild(img);
                });
            };
            
            
{% endblock script %}

