{% extends "layout.html" %}
{% block head %}
<title>{{place.name}}</title>
{% endblock %}

{% block content %}
<div class="flex h-screen p-7 justify-center pt-14">

  
    <!-- Right Content -->
    <div class="w-2/3 bg-white p-6">
      <div class="bg-white p-6">


        <img src="{{place.photo.url}}" alt="Property" class="w-full h-[300px] object-cover rounded-lg mb-4">
        <div class="mb-5 ml-3">
          <h3 class="text-lg font-semibold">{{place.name}}</h3>
        </div>
        <div class=" rounded-lg px-20">
          <h3 class="text-base font-semibold mb-4">Description</h3>
          <p class='text-xs'>Location : {{place.location}}</p>
          <p class='text-xs'>Description : {{place.description}}</p>
          <div class="space-y-4 mt-3">
            <div class="flex flex-col">
              <p class="text-gray-700 text-base font-semibold">Staff</p>
                {% for staff in place.staff.all %}
                  <p class="text-xs">{{staff}}</p>
                {% endfor %}

            </div>
          </div>
      </div>
      <div class='flex justify-between mt-5'>
        <a href="{% url 'place-report-list' place.id %}"><button class="m-4 w-[150px] rounded-md border border-pink-400 py-2 px-4 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-pink-500 hover:border-pink-400 focus:text-white focus:bg-pink-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">Report</button></a>
        <a href="{% url 'placebooking1' place.id %}"><button class="m-4 w-[150px] rounded-md border border-sky-500 py-2 px-4 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-sky-500 hover:border-sky-500 focus:text-white focus:bg-sky-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">Booking</button></a>
      </div>    
    </div>
  
</div>
{% endblock %}

{% block script %}
{{block.super}}
{% endblock script %}

