{% extends "layout.html" %}
{% block title %}{{Booking }}{{booking.id}}{% endblock %}

{% block content %}
<div class="flex h-screen p-7 justify-center pt-14">

  
    <!-- Right Content -->
    <div class="w-2/3 bg-white p-6">
      <div class="bg-white p-6">

        <div class="mb-5 ml-3">
          <h3 class="text-lg font-semibold">{{place.name}}</h3>
        </div>
        <img src="{{place.photo.url}}" alt="Property" class="w-full h-[300px] object-cover rounded-lg mb-4">
        <div class=" rounded-lg px-20">
          <h3 class="text-base font-semibold mb-4">Description</h3>
          <p class='text-sm'>Location : {{place.location}}</p>
          <p class='text-sm'>Location : {{place.location}}</p>
          <p class='text-sm'>Description : {{place.description}}</p>
          <div class="space-y-4 mt-3">
            <div class="flex flex-col">
              <p class="text-gray-700 text-base font-semibold">Staff</p>
                {% for staff in place.staff.all %}
                  <p class="text-sm">{{staff}}</p>
                {% endfor %}

            </div>
          </div>
      </div>
      <div class='flex justify-between mt-5'>
        <a href="{% url 'report-form' %}"><button class="m-4 w-[150px] rounded-md border border-pink-400 py-2 px-4 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-pink-500 hover:border-pink-400 focus:text-white focus:bg-pink-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">Report</button></a>
        <a href="{% url 'placebooking1' place.id %}"><button class="m-4 w-[150px] rounded-md border border-sky-500 py-2 px-4 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-sky-500 hover:border-sky-500 focus:text-white focus:bg-sky-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">Booking</button></a>
      </div>
      {% comment %} <div class='p-6'>
        <table class="w-full text-left table-auto">
            <thead>
                <tr class="bg-gray-100 text-gray-700 uppercase text-sm leading-normal text-center">
                    <th class="p-3">คนเเจ้ง</th>
                    <th class="p-3">สถานที่</th>
                    <th class="p-3">รายละเอียด</th>
                    <th class="p-3">สถานะ</th>
                </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
                {% for i in report %}
                <tr class="border-b border-gray-200 hover:bg-green-100  text-center">
                    <td class="p-3">{{ i.student.stu_card }}</td>
                    <td class="p-3">{{ i.place }}</td>
                    <td class="p-3">{{ i.details }}</td>
                    <td class="p-3">{{ i.status }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div> {% endcomment %}
    
    
    </div>
  
</div>
{% endblock %}

{% block script %}

{% endblock script %}

