{% extends "layout.html" %}
{% block head %}
<title>{{place.name}}</title>
{% endblock %}

{% block content %}
<div class="flex h-screen p-7 justify-center pt-14">

    <div class="w-2/3 bg-white p-6">
      <div class="flex flex-col w-full bg-white p-6 border rounded-xl justify-center shadow-md">
        <div class="mb-5 ml-3 mt-2">
          <h3 class="text-lg font-bold"><i class="fa-solid fa-house pr-1 mb-8"></i>{{place.name}}</h3>
        </div>
        <div class="w-full px-20">
          <img src="{{place.photo.url}}" alt="Property" class="w-full h-[300px] object-cover rounded-lg mb-4">
        </div>
        <div class="flex w-full rounded-lg px-20 mt-5">
          <div class="flex flex-col w-7/12 gap-5">
            <div class="flex flex-col w-full">
              <h3 class="text-base font-semibold"><i class="fa-solid fa-location-dot fa-sm pr-1"></i>Location</h3>
              <p class='text-xs pl-3 pr-10'>{{place.location}}</p>
            </div>
            <div class="flex flex-col">
              <h3 class="text-base font-semibold"><i class="fa-solid fa-user-group fa-sm pr-1"></i>Staff</h3>
                {% for staff in place.staff.all %}
                  <a href="{% url 'staff-profile' staff.id %}" class="text-blue-500 hover:underline px-1">
                    <p class="text-xs px-3">{{staff}}</p>
                  </a>
                {% endfor %}

            </div>
          </div>
          <div class="flex flex-col w-5/12 gap-3">
            <div class="flex flex-col w-full">
              <h3 class="text-base font-semibold"><i class="fa-solid fa-circle-info fa-sm pr-1"></i>Description</h3>
              <p class='text-xs pl-6 pr-10 w-full'>{{place.description}}</p>
            </div>
          </div>
      </div>
      {% if perms.booking.add_booking%}
        <div class='flex justify-between mt-8 px-20'>
          <a href="{% url 'place-report-list' place.id %}"><button class="rounded-md border border-pink-400 py-2 px-4 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-pink-500 hover:border-pink-400 focus:text-white focus:bg-pink-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">Report</button></a>
          <a href="{% url 'placebooking1' place.id %}"><button class="rounded-md border border-sky-500 py-2 px-4 text-center text-sm transition-all shadow-sm hover:shadow-lg text-slate-600 hover:text-white hover:bg-sky-500 hover:border-sky-500 focus:text-white focus:bg-sky-800 focus:border-slate-800 active:border-slate-800 active:text-white active:bg-slate-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">Booking</button></a>
        </div>  
      {% endif %}  
    </div>
  
</div>
{% endblock %}

{% block script %}
{{block.super}}
{% endblock script %}

