<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Form</title>
</head>
<body class="flex justify-center h-screen w-full pd-10">
    <div class="flex justify-center item-center h-fit w-6/12 pd-10">
        {{ form.non_field_errors }}
        <form action="" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full">
            {{form.student.label}}
            {{form.student}}
        </form>
    </div>
</body>
</html>