{% extends "layout.html" %}
{% block head %}
    <title>Report Detail</title>
{% endblock  %}
{% block content %}
<div class="flex flex-col justify-center items-center px-20 pt-20 pb-10 h-full w-full min-h-screen bg-gray-200">
    <div class="flex flex-col justify-center item-center h-fit w-6/12 p-4">
        {{ form.non_field_errors }}
        <form id="report" method="post" action="{% url 'report-detail' form.instance.pk %}" class="bg-white shadow-lg rounded-xl px-7 pt-4 pb-5 w-full">
            <h1 class="text-center text-5xl font-bold h-full w-full pb-5">Report Form</h1>
            {% csrf_token %}
            <div class=" flex w-full justify-center mb-4 font-bold">
                {% if report.image %}
                    <img class="h-48 rounded-3xl" src="{{ report.image.url }}" alt="Report Image">
                {% else %}
                    <img class="w-48 h-48 rounded-3xl" src="https://via.placeholder.com/48" alt="Report Image">
                {% endif %}
            </div>
            <div class="mb-4 font-bold">
                {{form.student.errors}}
                {{form.student.label_tag}}
                {{form.student}}
            </div>
            <div class="mb-4 font-bold">
                {{form.place.errors}}
                {{form.place.label_tag}}
                {{form.place}}
            </div>
            <div class="mb-4 font-bold">
                {{form.details.errors}}
                {{form.details.label_tag}}
                {{form.details}}
            </div>
            <div class="mb-4 font-bold">
                {{form.created_at.errors}}
                {{form.created_at.label_tag}}
                {{form.created_at}}
            </div>
            <div class="mb-4 font-bold">
                {{form.status.errors}}
                {{form.status.label_tag}}
                {{form.status}}
            </div>
            <div class="flex w-full justify-end gap-1">
                <a href="{% url 'report-list' %}">
                    <button 
                        class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="button"
                    >
                    Back
                    </button>
                </a>
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Save
                </button>
            </div>   
        </form>
    </div>
</div>    
{%endblock%}
{% block script %}
    {{ block.super }}

{% endblock  %}