{% extends "layout.html" %}
{% block head %}
<title>Report Form</title>
{% endblock  %}
{% block content %}
<div class="flex flex-col justify-center items-center px-20 pt-20 pb-10 h-full w-full min-h-screen bg-gray-200">
    <div class="flex flex-col justify-center item-center h-fit w-6/12 p-4">
        {{ form.non_field_errors }}
        <form id="report" method="post" action="{% url 'place-report-form' place.id %}" 
            enctype="multipart/form-data"
            class="bg-white shadow-lg rounded-xl px-7 pt-5 pb-5 w-full"
        >
            <h1 class="text-center text-5xl font-bold h-full w-full pb-5">Report Form </h1>
            {% csrf_token %}
            <div class="mb-4 font-bold">
                {{form.image.errors}}
                {{form.image.label_tag}}
                <div class="flex justify-center w-full" id="image-preview-container">
                </div>
                {{form.image}}
            </div>
            <div class="mb-4 font-bold">
                {{form.place.errors}}
                {{form.place.label_tag}}
                {{form.place}}
                <input type="hidden" name="place" value="{{ form.place.value }}">
            </div>
            <div class="mb-4 font-bold">
                {{form.student.errors}}
                {{form.student.label_tag}}
                {{form.student}}
                <input type="hidden" name="student" value="{{ form.student.value }}">
            </div>
            <div class="mb-4 font-bold">
                {{form.details.errors}}
                {{form.details.label_tag}}
                {{form.details}}
            </div>
            <div class="mb-4 font-bold">
                {{form.created_at.label_tag}}
                {{form.created_at}}
            </div>
            <div class="mb-4 font-bold">
                {{form.status.errors}}
                {{form.status.label_tag}}
                {{form.status}}
            </div>
            <div class="flex w-full justify-between">
                <a href="{% url 'place-report-list' place.id %}">
                    <button 
                        class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="button"
                    >
                        Back
                    </button>
                </a>
                <div>
                    <button 
                        class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="button"
                        onclick="clearData()"
                    >
                        Clear
                    </button>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>    
{%endblock%}
{% block script %}
    {{ block.super }}
    function clearData() {
        document.getElementById("report").reset();
        const imagePreviewContainer = document.getElementById("image-preview-container");
        imagePreviewContainer.innerHTML = ''; 
    }
    
    const imageInput = document.getElementById('{{ form.image.id_for_label }}');

    imageInput.addEventListener('change', function(event) {
        const file = event.target.files[0];
        const imagePreviewContainer = document.getElementById("image-preview-container");

        imagePreviewContainer.innerHTML = '';

        if (file && file.type.startsWith('image/')) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const img = document.createElement('img');
                img.src = e.target.result;
                img.alt = 'Selected image preview';
                img.classList.add('h-48', 'rounded-3xl', 'p-4');
                imagePreviewContainer.appendChild(img);
            };
            reader.readAsDataURL(file);
        } else {
            alert('Please select a valid image file.');
        }
    });

{% endblock  %}