{% extends "layout.html" %}
{% block head %}
<title>Staff List</title>
{% endblock  %}
{% block content %}
<div class="flex flex-col pt-16 px-10 gap-3 justify-center items-center w-full h-full">
    <div class="flex w-full justify-between py-4 items-center">
        <h1 class="text-2xl font-semibold mt-5">Total Staff : {{num_staff}}</h1>
        {% if perms.booking.add_staff%}
            <a href="{% url 'add-staff' %}">
                <button 
                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="button"
                >
                Add
                </button>
            </a>
        {% endif%}
    </div>
    <div class="overflow-x-auto overflow-y-auto max-h-[500px] h-3/4 rounded-xl w-full border border-gray-200">
        <table class="min-w-full bg-white shadow-md">
            <thead>
                <tr class="bg-amber-700 text-white sticky top-0 z-10">
                    <th class="py-3 px-4 text-left">ID</th>
                    <th class="py-3 px-4 text-left">Firt name</th>
                    <th class="py-3 px-4 text-left">Last name</th>
                    <th class="py-3 px-4 text-left">Email</th>
                    <th class="py-3 px-4 text-left">Telephone</th>
                    {% if perms.booking.delete_staff%}
                        <th class="py-3 px-4 text-left w-1/12">Delete</th>
                    {% endif %}
                    {% if perms.booking.change_staff%}
                        <th class="py-3 px-4 text-left w-1/12">Edit</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for data in staffs %}
                <tr class="hover:bg-gray-100 pt-1">
                    <td class="py-3 px-4">{{data.id}}</td>
                    <td class="py-3 px-4">{{data.first_name}}</td>
                    <td class="py-3 px-4">{{ data.last_name }}</td>
                    <td class="py-3 px-4">{{ data.email}}</td>
                    <td class="py-3 px-4">{{ data.phone}}</td>
                    <td class="py-3 px-4 justify-center items-center">
                        {% if perms.booking.delete_staff%}
                        <form action="{% url 'delete-staff' data.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="delete">
                            <button type="submit" class="text-sm w-10 h-10 p-2 rounded-full text-red-500 border border-red-500 bg-red-100 hover:bg-red-400 hover:text-white duration-200">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </form>
                        {%endif%}
                        
                    </td>
                    <td>
                        {% if perms.booking.change_staff%}
                            <a href="{% url 'staff-edit' data.id %}">
                                <button type="submit" class="text-sm w-10 h-10 p-2 rounded-full text-yellow-500 border border-yellow-500 bg-yellow-100 hover:bg-yellow-400 hover:text-white duration-200">
                                    <i class="fa-solid fa-pen"></i>
                                </button>
                            </a>
                        {%endif%}
                    </td>           
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock  %}