{% extends 'layout.html' %}

{% block head %}
    <title>Satff Profile</title>
{% endblock%}

{% block content %}
<div class="flex  justify-center items-center pt-20 w-full h-screen pb-10 px-10">
  <div class="flex flex-col w-full h-full justify-center items-center p-8 gap-4">
      <div class="flex flex-col w-6/12 rounded-xl border shadow-sm px-8 py-4">
          <div class="flex  w-full items-center gap-2">
              <i class="fa-solid fa-id-card fa-lg" style="color: #74C0FC;"></i>
              <h2 class="font-semibold text-lg pt-1">Staff Infomation</h2>
          </div>
          <div class="flex w-full px-4 py-2 ">
              <div class="flex flex-col gap-2 w-7/12">
                  <label for="first_name" class="text-gray-500 text-sm">First Name</label>
                  <p>{{staff.first_name}}</p>
              </div>
              <div class="flex flex-col gap-2 w-5/12">
                  <label for="last_name" class="text-gray-500 text-sm">Last Name</label>
                  <p>{{staff.last_name}}</p>
              </div>
          </div>
          <div class="flex w-full px-4 py-2 ">
              <div class="flex flex-col gap-2 w-7/12">
                  <label for="email" class="text-gray-500 text-sm">Email</label>
                  <p>{{staff.email}}</p>
              </div>
              <div class="flex flex-col gap-2 w-5/12">
                <label for="phone" class="text-gray-500 text-sm">Phone Number</label>
                <p>{{staff.phone}}</p>
            </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}