<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main class="w-full h-screen overflow-hidden flex items-center justify-center">
        <div class='w-full grid grid-cols-3'>
            <img src="https://images.unsplash.com/photo-1547941126-3d5322b218b0?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <div class = 'flex flex-col justify-center items-center h-full bg-gray-100'>
                    <p class = 'text-center text-xs mb-8 font-bold'>ลงทะเบียน</p>
                    {{ form.non_field_errors }}
                    <form method='post' class='flex flex-col text-xs'>

                        {% csrf_token %}
                        <div>
                            {{form.first_name.errors}}
                            {{form.first_name.label_tag}}
                            {{form.first_name}}
                        </div>

                        <div>
                            {{form.last_name.errors}}
                            {{form.last_name.label_tag}}
                            {{form.last_name}}
                        </div>

                        <div>
                            {{form.student_ID.errors}}
                            {{form.student_ID.label_tag}}
                            {{form.student_ID}}
                        </div>

                        <div>
                            {{form.department.errors}}
                            {{form.department.label_tag}}
                            {{form.department}}
                        </div>


                        <div>
                            {{form.username.errors}}
                            {{form.username.label_tag}}
                            {{form.username}}
                        </div>


                        <div>
                            {{form.password.errors}}
                            {{form.password.label_tag}}
                            {{form.password}}
                        </div>

                        <div>
                            {{form.email.errors}}
                            {{form.email.label_tag}}
                            {{form.email}}
                        </div>


                        <div>
                            {{form.phone.errors}}
                            {{form.phone.label_tag}}
                            {{form.phone}}
                        </div>

                        <button type='submit' class='m bg-black text-white p-3 w-80 rounded-xl  self-center'>Register</button>
                    </form>
            </div>
            <img src="https://images.unsplash.com/photo-1545151414-8a948e1ea54f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            
        </div>
    </main>
</body>
</html>